{%
	set title_classes = [
		label_display == 'visually_hidden' ? 'visually-hidden',
	]
%}

<div{{attributes}}>
	{% if not label_hidden %}
		<div{{title_attributes.addClass(title_classes)}}>{{ label }}</div>
	{% endif %}
	<div class="grid grid-cols-4 gap-5">
		{% for item in items %}
			<div{{item.attributes}}>{{ item.content }}</div>
		{% endfor %}
	</div>
</div>
